# Ensemble (voting)

In [31]:
%load_ext autoreload
%autoreload 2
from si.data.dataset import Dataset, summary
from si.util.cv import CrossValidationScore
import os

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
var,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

In [12]:
dataset.toDataframe()

       A    B    C    D    E     F    G    H    I    Y
0    8.0  4.0  4.0  1.0  2.0   9.0  3.0  3.0  1.0  1.0
1    5.0  1.0  1.0  3.0  2.0   1.0  1.0  1.0  1.0  0.0
2    2.0  1.0  1.0  1.0  3.0   1.0  2.0  1.0  1.0  0.0
3    2.0  1.0  1.0  1.0  2.0   1.0  3.0  1.0  1.0  0.0
4    9.0  5.0  8.0  1.0  2.0   3.0  2.0  1.0  5.0  1.0
..   ...  ...  ...  ...  ...   ...  ...  ...  ...  ...
694  1.0  1.0  1.0  1.0  4.0   3.0  1.0  1.0  1.0  0.0
695  5.0  3.0  1.0  2.0  2.0   1.0  2.0  1.0  1.0  0.0
696  5.0  2.0  2.0  2.0  2.0   1.0  1.0  1.0  2.0  0.0
697  2.0  3.0  2.0  2.0  2.0   2.0  3.0  1.0  1.0  0.0
698  7.0  6.0  6.0  3.0  2.0  10.0  7.0  1.0  1.0  1.0

[699 rows x 10 columns]

In [28]:
# Use accuracy as scorring function
from si.util.metrics import accuracy_score

### Decision Tree

In [15]:
from si.supervised.DT import DecisionTree

In [16]:
dt = DecisionTree()

In [17]:
cv = CrossValidationScore(dt,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   train Scores  Test Scores
0      0.951699     0.964286
1      0.946333     0.978571
2      0.958855     0.957143

### Logistic regression

In [23]:
from si.supervised.LogRegression import LogisticRegression
logreg = LogisticRegression()

In [24]:
cv = CrossValidationScore(logreg,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   train Scores  Test Scores
0      0.447226     0.482904
1      0.449044     0.487765
2      0.440215     0.514305

### KNN

In [32]:
from si.supervised.KNN import KNN

In [33]:
knn = KNN(7)

In [34]:
cv = CrossValidationScore(knn,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores:  Test Scores:
0       0.982111      0.507143
1       0.978533      0.507143
2       0.976744      0.578571

## Ensemble

In [39]:
from si.supervised.Ensemble import Ensemble, majority
en = Ensemble([dt,logreg,knn], majority, accuracy_score)

In [40]:
cv = CrossValidationScore(en,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores:  Test Scores:
0       0.948122      0.585714
1       0.964222      0.571429
2       0.948122      0.550000